@model Loja.Models.Pedido

@{
    ViewData["Title"] = "Edit Pedido";
}

<h1>Editar Pedido</h1>

<br>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PedidoId" />

    <div class="form-group">
        <label asp-for="Descricao" class="control-label fw-bold">Descrição</label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <br>
    <div class="form-group">
        <label asp-for="ClienteId" class="control-label fw-bold">Cliente</label>
        <select asp-for="ClienteId" class="form-control" asp-items="@(ViewBag.ClienteId as SelectList)"></select>
        <span asp-validation-for="ClienteId" class="text-danger"></span>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<br>
<div>
    <a asp-action="Index">Voltar à lista</a>
</div>
